@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-on-primary-container: #000311;
  --color-secondary-dim: #4b5366;
  --color-on-tertiary: #fef6ff;
  --color-tertiary: #695781;
  --color-on-tertiary-fixed-variant: #5e4c75;
  --color-on-secondary: #f9f8ff;
  --color-tertiary-dim: #5d4b74;
  --color-secondary: #575f72;
  --color-on-tertiary-fixed: #413057;
  --color-on-secondary-container: #4a5264;
  --color-surface-container: #eaeff2;
  --color-primary-fixed-dim: #317bef;
  --color-on-surface: #2c3437;
  --color-secondary-fixed: #dbe2f9;
  --color-primary: #005bc4;
  --color-tertiary-fixed-dim: #d6c0f0;
  --color-error-dim: #67040d;
  --color-inverse-primary: #4d8eff;
  --color-surface-bright: #f7f9fb;
  --color-surface-container-low: #f0f4f7;
  --color-tertiary-container: #e4ceff;
  --color-on-secondary-fixed-variant: #545b6e;
  --color-surface-container-lowest: #ffffff;
  --color-inverse-surface: #0b0f10;
  --color-error-container: #fa746f;
  --color-surface-container-highest: #dce4e8;
  --color-on-error-container: #6e0a12;
  --color-secondary-container: #dbe2f9;
  --color-secondary-fixed-dim: #cdd4eb;
  --color-surface-dim: #d4dbdf;
  --color-on-error: #fff7f6;
  --color-on-background: #2c3437;
  --color-tertiary-fixed: #e4ceff;
  --color-outline: #747c80;
  --color-surface-container-high: #e3e9ed;
  --color-error: #a83836;
  --color-on-surface-variant: #596064;
  --color-on-tertiary-container: #54436b;
  --color-background: #f7f9fb;
  --color-on-secondary-fixed: #383f51;
  --color-primary-fixed: #4388fd;
  --color-on-primary-fixed: #000000;
  --color-primary-container: #4388fd;
  --color-outline-variant: #acb3b7;
  --color-surface-variant: #dce4e8;
  --color-surface: #f7f9fb;
  --color-on-primary: #f9f8ff;
  --color-primary-dim: #004fad;
  --color-on-primary-fixed-variant: #001435;
  --color-inverse-on-surface: #9a9d9f;
  --color-surface-tint: #005bc4;

  --font-headline: "Inter", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;

  --radius-DEFAULT: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 1.5rem;
  --radius-full: 9999px;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-surface);
    color: var(--color-on-surface);
}

.hide-scrollbar::-webkit-scrollbar { display: none; }
.hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
